/*******FEATURED IN SECTION*******/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #999;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}


/*******MEAL SECTION*******/

.section-meals {
    padding: 9.6rem 0;
    padding-bottom: 0;
    overflow: hidden;
    margin-bottom: 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 18px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #86EFAC;
    color: #333;
    border-radius: 100px;
}

.tag--fiber {
    background-color: #22C55E;
}

.tag--whole-food {
    background-color: #FDE047;
}

.tag--puree {
    background-color: #99F6E4;
}

.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #22C55E ;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    font-size: 1.8rem;
    grid-column-start: 2;
    grid-row-start: 2;
}

/*******TESTIMONIALS SECTION*******/

.section-testimonials {
    background-color: #DCFCE7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;
    
}

.testimonials-container {
   padding: 9.6rem ;
   padding-top: 4.8rem;
   
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


/*******PRICING & FEATURES SECTION*******/


.section-pricing {
    padding: 9.6rem 0;

}

.pricing-plan {
    border-radius: 11px;
    width: 75%;
    padding: 4.8rem 0;
    justify-self: center;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #DCFCE7;
}

.pricing-plan--premium {
    background-color: #F0FDF4;
    position: relative;
    overflow: hidden;
    
}

.pricing-plan--premium::after {
    content: "Best Value";
    position: absolute;
    top: 6%;
    right: -7%;
    color: #333;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #FDE047;
    padding: 0.8rem 4rem;
    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
 
}


.plan-name {
    color: #15803D;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-bottom: 3.2rem;
}

.price-list {
    padding: 4.8rem;
    padding-top: 0;
   
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;

}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}


.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
    margin-bottom: 1.8rem;
}

